DATABASE_URL=postgresql://USER:PASSWORD@EP-pooler.REGION.aws.neon.tech/neondb?sslmode=require
DATABASE_MIGRATION_URL=postgresql://USER:PASSWORD@EP.REGION.aws.neon.tech/neondb?sslmode=require
CORS_ORIGINS=["http://localhost:3000"]
